#contactAbout{
    display: flex;
    margin-bottom: 50px;
    @include media-query-mobile(){
        display: flex;
        flex-direction: column;
    }
    .about-us{
        width: 50%;
        padding: 30px;
        @include media-query-mobile(){
            width: 100%;
        }
        h2{
            margin-bottom: 10px;
            font-size: map-get($font-sizes, subtitle-sm);
        }
    }
    .contact-us{
        width: 50%;
        padding: 30px;
        @include media-query-mobile(){
            width: 100%;
        }
        h2{
            margin-bottom: 10px;
            font-size: map-get($font-sizes, subtitle-sm);
        }
    }
}