#contactAbout{
    display: flex;
    margin-bottom: 50px;
    .about-us{
        width: 50%;
        padding: 30px;
        h2{
            margin-bottom: 10px;
            font-size: 32px;
        }
    }
    .contact-us{
        width: 50%;
        padding: 30px;
        h2{
            margin-bottom: 10px;
            font-size: 32px;
        }
    }
}