main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#hero{
    width: 100%;
    height: 600px;
    padding: 0 60px;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include media-query-mobile(){
        padding-top: 120px;
    }
    h1{
        font-size: map-get($font-sizes, title);
        font-weight: 600;
        margin-bottom: 12px;
        color: map-get($colors, terciario);
        @include media-query-mobile(){
            font-size: 40px;
        }
    }
    p{
        font-size: map-get($font-sizes, subtitle-sm);
        margin-bottom: 32px;
        color: map-get($colors, terciario);
        @include media-query-mobile(){
            font-size: map-get($font-sizes, paragraph-sm);
            margin-bottom: 22px;
        }
    }
    a{
        background-image: linear-gradient(to right, map-get($colors, secundario), map-get($colors, terciario));
        color: map-get($colors, primario);
        padding: 12px 24px;
        border-radius: 16px;
        font-weight: 500;
        width: fit-content;
        &:hover{
            background: #f46c2c;
        }
    }
}

#bestTrick{
    background-color: map-get($colors, secundario);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h2{
        text-align: center;
        color: map-get($colors, primario);
        padding: 2%;
        font-size: map-get($font-sizes, subtitle-md);
        margin-bottom: 0;
        @include media-query-mobile(){
            font-size: map-get($font-sizes, subtitle-sm);
        }
    }
}

.videos{
    p{
        color: map-get($colors, primario);
        padding: 1%;
        @include media-query-mobile(){
            font-size: map-get($font-sizes, paragraph-sm);
        }
    }
}

#news{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 45px;
    @include media-query-mobile(){
        padding-bottom: 0;
    }
    h2{
        color: map-get($colors, terciario);
        font-weight: 600;
        font-size: map-get($font-sizes, subtitle-md);
        margin-bottom: 32px;
        @include media-query-mobile(){
            font-size: map-get($font-sizes, subtitle-sm);
        }
    }
}

.news-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @include media-query-mobile(){
        flex-direction: column;
    }
    .new-box{
        padding: 15px;
        p{
            color: map-get($colors, primario);
            font-size: map-get($font-sizes, paragraph-sm);
            margin-top: 5px;
        }
        h3{
            color: map-get($colors, terciario);
            margin-top: 5px;
            @include media-query-mobile(){
                font-size: map-get($font-sizes, paragraph-md);
            }
        }
     }
}

#topUsers{
    background-image: url(../resources/Indygrab\(topusers\).jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 60px;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include media-query-mobile(){
        background-image: none;
        padding: 40px;
        height: auto;
        background-color: map-get($colors, primario);
    }
    h2{
        text-align: center;
        color: map-get($colors, secundario);
        font-size: map-get($font-sizes, subtitle-md);
        font-weight: 600;
        @include media-query-mobile(){
            font-size: map-get($font-sizes, subtitle-sm);
        }
    }
    .user-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        @include media-query-mobile(){
            flex-direction: column;
            align-content: center;
        }
        .users{
            display: flex;
            flex-direction: column;
            width: 25%;
            margin: 1%;
            text-align: center;
            color: map-get($colors, secundario);
            @include media-query-mobile(){
                width: 100%;
            }
            img{
                width: 50%;
                margin-left: 25%;
            }
        }
    }
}
