#logCreate{
    display: flex;
    margin-bottom: 50px;
    margin-top: 150px;
    .log-in{
        width: 50%;
        padding: 30px;
        h2{
            margin-bottom: 10px;
            font-size: 32px;
        }
    }
    .create-account{
        width: 50%;
        padding: 30px;
        h2{
            margin-bottom: 10px;
            font-size: 32px;
        }
    }
}