#spotsUniversity{
    background-color: map-get($colors, secundario);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 300px 300px;
    grid-template-areas:
        "imagef title"
        "imagef paragraph"
    ;
    @include media-query-mobile(){
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;
    }
    #firstImg{
        grid-area: imagef;
        padding: 4%;   
        @include media-query-mobile(){
            size-adjust: 50%;
        }
    }
    h2{
        color: map-get($colors, primario);
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        grid-area: title;
        font-size: map-get($font-sizes, subtitle-sm);
        @include media-query-mobile(){
            padding: 5px;
            text-align: center;
        }
    }
    p{
        color: map-get($colors, primario);
        grid-area: paragraph;
        text-align: center;
        margin-right: 90px;
        @include media-query-mobile(){
            margin-right: 0;
        }
    }
}

#spotsIndustrial{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 300px 70px;
    grid-template-areas:
        "title image"
        "paragraph paragraph"
    ;
    @include media-query-mobile(){
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;
    }
    Img{
        grid-area: image;
    }
    h2{
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        grid-area: title;
        font-size: map-get($font-sizes, subtitle-sm);
        text-align: center;
        margin-left: 40px;
        color: map-get($colors, secundario);
        @include media-query-mobile(){
            margin-left: 0;
            margin-top: 20px;
        }
    }
    p{
        color: map-get($colors, secundario);
        grid-area: paragraph;
        text-align: center;
        padding: 10px;
    }
}

#spotsDowntown{
    background-color: map-get($colors, terciario);
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 100px 500px;
    grid-template-areas:
        "title title"
        "image paragraph"
    ;
    @include media-query-mobile(){
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;
    }
    Img{
        grid-area: image;
        margin-left: 15%;
        @include media-query-mobile(){
            margin-left: 0;
        }
    }
    h2{
        color: map-get($colors, primario);
        padding: 30px;
        grid-area: title;
        font-size: map-get($font-sizes, subtitle-sm);
        text-align: center;
        margin-left: 40px;
        @include media-query-mobile(){
            margin-left: 0;
        }
    }
    p{
        color: map-get($colors, primario);
        grid-area: paragraph;
        text-align: center;
        padding: 10px;
        margin-top: 200px;
        margin-right: 15%;
        @include media-query-mobile(){
            margin-top: 0;
            margin-right: 0;
        }
    }
}