header{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    padding: 1%;
    position: fixed;
    background-color: map-get($colors, secundario);
    @include media-query-mobile(){
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        height: 180px;   
        padding: 4%; 
    }
}

nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include media-query-mobile(){
        display: flex;
        flex-direction: column;
    }
    .nav-links{
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        @include media-query-mobile(){
            flex-direction: column;
            height: 100px;
        }
    }
    ul{
        list-style: none;
        width: 100%;
        text-align: right;
        padding: 20px;
        margin: 0;
        @include media-query-mobile(){
            text-align: center;
            padding: 0;
        }
        li{
            display: inline-block;
            margin: 10px 20px;
            &::after{
                content: '';
                width: 0%;
                height: 2px;
                background: map-get($colors, terciario);
                display: block;
                margin: auto;
                transition: 0.5s;
            }
            &:hover{
                &::after{
                    width: 100%;
                }
            }
            @include media-query-mobile(){
                display: flex;
                flex-direction: column;
                font-size: 14px;
            }
        }
    }
}

.logo{
    width: 180px;
    @include media-query-mobile(){
        width: 80px;
    }
}

.btn{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    background: map-get($colors, terciario);
    color: map-get($colors, primario);
    font-weight: 600;
    cursor: pointer;
    width: 130px;
    @include media-query-mobile(){
        width: 130px;
    }
    img{
        width: 20px;
        margin-right: 10px;
    }
}

a{
    text-decoration: none;
    color: map-get($colors, primario);
}

